.homeCharactersResultsLink {
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 0px;
}
.homeCharactersResultsTextOnPic {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 80px;
  color: white;
  border-radius: 5px;
}
.homeCharactersResultsCell {
  max-width: 303px;
  border-style: solid;

  margin: 2px;

  text-align: left;
}
.homeCharactersResultsPicAndText {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.homeCharactersResultsCellContents {
  padding-left: 3px;
}
